@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
$font: 'Roboto', sans-serif;

$white: #f5f5f5;
$light: #e0c9cb;
$tan: #c3a1a0;
$pink: #d9aab7;
$rose: #744c4c;
$dark: #4e4e4e;
$confirm: rgb(12, 131, 12);
$cancel: rgb(153, 0, 0);

.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* center container in the middle */
html {
  min-height: 100%;
  min-width: 100%;
}

body {
  background: $light;
  font-family: $font, sans-serif;
  padding: 0 1em;
}

.header {
  background: $light;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  svg:hover {
    cursor: pointer;
    color: $dark;
  }

  p {
    font-size: large;
    color: $dark;
    margin-left: 0.5em;
  }
}

.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header,
.card {
  margin: 1em;
  padding: 1em;
}

.card {
  position: relative;
  overflow: hidden;
  max-width: 16em;
  min-height: 8em;
  background: $white;
  box-shadow: 5px 5px 15px rgba($rose, 0.5);
  border-radius: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  width: auto;
  max-width: 80%;
  font-size: 1.2em;
  color: $dark;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.title-icons {
  min-width: 18%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  svg:hover {
    color: $dark;
    cursor: pointer;
  }
}

.confirm {
  color: $confirm;
}

.cancel {
  color: $cancel;
}

.info {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: $dark;
  text-align: justify;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact {
  padding: 0.2em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-field {
  font-size: 0.9em;
  color: $rose;
  letter-spacing: 1px;
  padding: 0 auto;
  margin: 0;
  margin-left: 0.5em;
}

input {
  background: transparent;
  border: none;
  outline-style: none;
}

.edit {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $dark;
}

// Remove arrows from input with type="number"
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
